<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpticalStageControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OpticalStageControl.Properties.Settings>
            <setting name="XPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZPosition" serializeAs="String">
                <value>0</value>
            </setting>
        </OpticalStageControl.Properties.Settings>
    </userSettings>
</configuration>